*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    overflow-x: hidden;
}

#Formulário {
    display: flex;
}

.mobile-titulo-contatos, .mobile-contato1 , .mobile-contato2 , .mobile-contato3 , .mobile-contato4{
    display: none ;
}

.contatost {
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    margin-top: 1rem;
}

i {
    color: white;
}

li {
    list-style-type: none;
}

#titulo-contato h1{
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    text-align: center;
    margin-top: 2rem;
    color: #ffff;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

#titulo-contato {
    background-color: #31171F;
    background-size: cover;
    height: 13rem;
    background-repeat: no-repeat;
    display: block;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#linhas-contatos {
    height: 2rem;
    margin: auto;
    margin-top: -2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contatos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.contato1 , .contato2 , .contato3 {
    margin-top: 3rem;
    background-color: #31171F;
    border-radius: 30px;
    width: 14rem;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato2 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.contato4 {
    transform: translate( -50%);
    background-color: #31171F;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
    position: absolute;
    width: 48rem;
    height: 8rem;
    left: 50%;
    margin-top: 2rem;
}

.cont1 , .contmap {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contmap {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 578px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 12rem;
    margin-left: 10rem;
    position: absolute;
}

@media (min-resolution: 144dpi) {

  }

@media (max-width: 999px) {
    .mobile-titulo , .mobile-p , .mobile-titulo-parceiros , .mobile-titulo-contatos ,  .container-mobile-cursos, .container-mobile-cursos, .container-mobile-cursos ,  .botaomatricula , #img-1 , #img-2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #titulo-contato h1{
        font-size: 40px;
    }

    #linhas-contatos {
        height: 1.5rem;
        margin: auto;
        margin-top: -1rem;
        margin-bottom: 1rem;
    }

    .mobile-titulo-contatos {
        font-family: "Hammersmith One", sans-serif;
        font-weight: 400;
        font-style:normal;
        margin-left: 20px;
        font-size: 40px;
        margin-top: 2rem;
    }


    .mobile-titulo-contatos {
        margin-left: 0rem;
        margin-top: -3rem;
        margin-bottom: 4rem;
    }

    .contatos , .contato4 {
        display: none;
    }

.mobile-contato1 , .mobile-contato2 , .mobile-contato3 {
    background-color: #31171F;
    border-radius: 30px;
    width: 14rem;
    height: 12rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
}

.mobile-contato4 {
    transform: translate( -50%);
    background-color: #31171F;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
    position: absolute;
    width: 20rem;
    height: 8rem;
    left: 50%;
    margin-top: 2rem
}

.cont-texto , .contmap {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.texto {
    margin-top: 1.5rem;
}

.contmap {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#icon {
    margin-top: 1.5rem;
}

.icon {
    display: flex;
    justify-content: center;
}

.icon i {
    margin-top: 1rem;
}

.img {
    width: 288px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 12rem;
    margin-left: 3rem;
    position: absolute;
}

#Form {
    margin-top: 31rem;
}



}
