*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #93221F;
  height: 8vh;
  box-shadow: 2px 2px 20px #000000;
  position: fixed; /* Mantém a navbar fixa no topo */
  top: 0; /* Define a posição no topo */
  width: 100%; /* Garante que a navbar ocupe toda a largura da tela */
  z-index: 1000; /* Garante que a navbar fique acima de outros elementos */
}

main {
  padding-top: 8vh;
}

nav a {
  color: #ffff;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-left: 2rem;
}

nav a:hover {
  font-size: 20px;
}

li a {
  text-decoration: none;
}

.logo_img , .logo_img_branco {
  width: 5rem;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo_img {
  display: none;
}

.conta_img , .conta_img_branco {
  width: 2.5rem;
  height: auto;
  position: absolute;
  left: 98%;
  transform: translate(-50%, -50%);
}

.conta_img {
  display: none;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  opacity: 0;
}

.nav-list.active {
  transform: translateX(0);
}

.nav-list {
  position: absolute;
  top: 8vh;
  left: 0;
  width: 22vw;
  height: 92vh;
  background: #93221F;
  flex-direction: column;
  justify-content: space-around;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  position: absolute;
  left: 1%;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #ffffff;
  margin: 8px;
  transition: 0.3s;
}

.mobile-menu {
  display: block;
}

@keyframes navLinkFade {
  from {
  opacity: 0;
  transform: translateX(50px);
}
  to {
  opacity: 1;
  transform: translateX(0);
}
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media screen and (max-width: 999px) {

  .logo_img_branco {
    width: 5rem;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mobile-menu {
    cursor: pointer;
    margin-right: 0;
  }
  
  .nav-list {
    position: absolute;
    top: 8vh;
    left: 0;
    width: 50vw;
    height: 92vh;
    background: #93221F;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
  }
  
  .nav-list a {
    margin-left: 0vw;
  }  

  .conta_img_branco {
    width: 2.5rem;
    height: auto;
    position: absolute;
    left: 93%;
    transform: translate(-50%, -50%);
  }
  
}